.reveal ul.ns-blocks {
  margin: 0 auto;
  width: 600px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  // background-color: yellow;

  li {
    // background: tomato;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    // line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    span, strong {
      display: block;
    }

    span {
      margin-top: 56px;
      font-size: .8rem;
    }
  }

  li:nth-child(1) {
    background-color: #c40063;
    transform: matrix(0.99, -0.14, -0.05, 1.04, 0, 0);
  };
  li:nth-child(2) {
    background-color: #d05d27;
    transform: matrix(1.01, 0.14, -0.05, 1.1, 0, 4);
  };
  li:nth-child(3) {
    background-color: #4d2874;
    transform: matrix(0.99, -0.14, -0.05, 1.04, 0, 0);
  };
  li:nth-child(4) {
    background-color: #a1ba3a;
    transform: matrix(1.01, 0.14, -0.05, 1.1, 0, 5);
  };

  li:nth-child(5) {
    background-color: #e6bb20;
    transform: matrix(0.99, -0.14, 0, 1.1, -4, 11);
  };

  li:nth-child(6) {
    background-color: #4d2874;
    transform: matrix(1.01, 0.14, -0.05, 1.1, -8, 12);
  };

  li:nth-child(7) {
    background-color: #a1ba3a;
    transform: matrix(0.99, -0.14, -.05, 1.1, -8, 11);
    strong {
      font-size: .9rem;
    }
  };

  li:nth-child(8) {
    background-color: #ca5a26;
    transform: matrix(1.03, 0.14, -0.05, 1.1, -8, 14);
  };
}

