.reveal table.ns-cronogram {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-spacing: 0;
  background-color: #333;
  padding: 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.reveal table.ns-cronogram caption {
  /* font-size: .6rem; */
}

.reveal table.ns-cronogram th, .reveal table.ns-cronogram td {
  border: 1px solid rgba(255,255,255,0.1);
  box-sizing: border-box;
}

.reveal table.ns-cronogram th {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 0;
  color: rgba(255,255,255,0.5);
  background-color: #292929;
  letter-spacing: 1px;
  text-align: center;
}

.reveal table.ns-cronogram td {
  width: 14.285%;
  transition: all 0.3s;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 5%;
  vertical-align: initial;
  padding: 1.5% 0 ;
  height: 60px;
}

/* .reveal table.ns-cronogram .day:hover {
  background-color: rgba(0,0,0,0.1);
  cursor:pointer;
} */

.reveal table.ns-cronogram .today {
  color: #FFF;
  background-color: rgba(0,0,0,.25) !important;
}

.reveal table.ns-cronogram span.number {
  margin-left: 10%
}

.reveal table.ns-cronogram span.number.opacity {
  opacity: .3;
}

.reveal table.ns-cronogram span.event {
  height: 18px;
  background-color: rgba(0,0,0,.3);
  display: block;
  margin: 5px 10%;
  border-radius: 2px;
  background-color: #91c33b;
  color: black;
  padding-left: 5px;
}

.reveal table.ns-cronogram span.event-multiday {
  margin: 5px -1px;
  border-radius: 0;
}
.reveal table.ns-cronogram span.event-multiday-start {
  margin-right: -4px;
}

.reveal table.ns-cronogram span.event-multiday-finish {
  margin-left: -4px;
}

.reveal table.ns-cronogram span.event-ghost {
  background-color: transparent;
}
